frontend/node_modules
frontend/dist
frontend/dist-ssr
frontend/*.local

# rust build files
frontend/cavalier_contours_web_ffi/pkg
frontend/cavalier_contours_web_ffi/target

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
