# js build files
.DS_Store
node_modules
dist
pkg

# rust build files
wasm/pkg
wasm/target
wasm/cavalier_contours_web_ffi/target
wasm/cavalier_contours_web_ffi/target


# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
